/* Rubik Google Font */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

/* Start Global Rules */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:active {
    transform: scale(0.91);
    transition: transform 0.3s;
}

p {
    line-height: 1.5;
    color: hsl(229, 8%, 60%);
}

ul,
ol {
    list-style: none;
}

img,
iframe {
    display: block;
    max-width: 100%;
    background-size: cover;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


.top-wrapper {
    padding: 70px 0 100px 0;
    background-image: url(img/bg-marketplace.jpg);
    background-size: cover;
    color: white;
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 1;
    font-size: 45px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    color: #ce1820;
  }
  
  .top-wrapper p {
    opacity: 1;
    color: #00352c;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }  


/* Medium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

a.nav-link {
    color: hsl(229, 31%, 21%);
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 15px;
    transition: 0.3s;
}

a.nav-link:hover {
    color: hsl(0, 94%, 66%);
}


/* Start Utility Classes */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.scale-effect:active {
    transform: scale(0.88);
    transition: transform 0.3s;
}


/* End Utility Classes */


/* Start Header */

.header {
    /* --header-height: 62px; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 10px hsl(240deg 40% 93%);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.header .container {
    height: 100%;
}

.header .logo {
    height: 100%;
}

.header .logo img {
    width: 75px;
}

.header .nav-bar {
    display: flex;
    align-self: center;
    transition: right 0.5s;
}

.header .nav-bar.active {
    right: 0;
}

@media (max-width: 992px) {
    .header .nav-bar {
        position: fixed;
        top: 0;
        right: -300px;
        min-width: 280px;
        height: 100%;
        background: #fff;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 70px;
        box-shadow: 0 0 10px hsl(240deg 40% 93%);
    }
}

.header .nav-link {
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 992px) {
    .header .nav-link {
        display: block;
        width: 100%;
        height: initial;
        padding: 15px;
        font-size: 17px;
    }
    .header .nav-link:hover {
        padding-left: 25px;
    }
}

.header .nav-bar .nav-link {
    border-bottom: 1px solid hsl(0deg 0% 93%);
}

.header .nav-bar .close,
.header .toggle-menu {
    cursor: pointer;
    display: none;
}

.header .nav-bar .close:hover i {
    color: var(--soft-red);
}

@media (max-width: 992px) {
    .header .nav-bar .close {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 992px) {
    .header .toggle-menu {
        display: block;
    }
}

.header .nav-bar .close i,
.header .toggle-menu i {
    font-size: 22px;
    color: hsl(229, 31%, 21%);
    transition: .3s
}


/* End Header */

.rw{
  width: 100%;
  margin-top:1rem ;
}


.cls{
  display: inline-flex;
  align-items: stretch;
  width: 19%;
  padding: 0 8px 8px;
  box-sizing: border-box;
}


.card{
  overflow: hidden;
  border-radius: 15px;
  box-shadow: inset 1px 1px 5px #c3c3c3;
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  min-height: 24rem;
  /* background: rgb(245, 245, 245); */
}

.wrpitem{

}

.item-img{
  width: 100%;
}

.item-title{
  padding: 0.5rem 1rem ;
  text-align: left;
  text-justify: inter-word;
  font-size: 0.9rem ;
}

.item-harga{
  padding: 0.8rem 1rem ;
  text-align: left;
  text-justify: inter-word;
  font-size: 1rem ;
  font-weight: bold;
}

.btn-wraper{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  align-items: center;

}
.btn-cart{
  align-self: center;
  margin: auto;
  background: rgb(241, 19, 108);
  color: #fff;
  padding: 0.8rem 2rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  cursor: pointer;
 
  
}


@media all and (max-width:640px) {
  .cls{
    width: 100% !important;
    margin-bottom: 1rem;
  }
}

@media all and (min-width:641px ) and (max-width:800px ) {
  .cls{
    width: 25%;
  }
}


@media all and (min-width:801px )and (max-width:1008px ) {
  .cls{
    width: 25%;
  }
}


@media all and (min-width:1009px ) {
  
}

 








